package SWAdminInfo;

#----------------------------------------
# 管理人からのお知らせ
#----------------------------------------
sub OutHTMLAdminInfo {
  my $sow = shift;
  my $cfg   = $sow->{'cfg'};
  my $net = $sow->{'html'}->{'net'}; # Null End Tag
  my $atr_id = $sow->{'html'}->{'atr_id'};

  my $urlsow  = $cfg->{'BASEDIR_CGI'}.'/'.$cfg->{'FILE_GAME'};
  my $urlwiki = $cfg->{'URL_CONST'};
  my $urlimg  = $cfg->{'DIR_IMG'};

  $reqvals->{'cmd'} = 'howto';
  my $linkvalue   = &SWBase::GetLinkValues($sow, $reqvals);
  $reqvals->{'cmd'} = 'rule';
  my $linkrule    = &SWBase::GetLinkValues($sow, $reqvals);
  my $linkoperate = '(Knowledge)Operation';
  my $linkspec    = '(What)Other';


  # 設定データの読み込み
  my $reqvals = &SWBase::GetRequestValues($sow);
  my $topcss  = &SWBase::GetLinkValues($sow, $reqvals);

  my $max_wolf     =  <%= 0 %>;
  my $max_allstar  =  <%= GAME[:ALLSTAR_OLD]['config']['cfg'][:MAX_VILLAGES] %>;
  my $max_jksy     =  <%= GAME[:ALLSTAR]['config']['cfg'][:MAX_VILLAGES] %>;

  my $max_perjury  =  <%= GAME[:PERJURY_OLD]['config']['cfg'][:MAX_VILLAGES] %>;
  my $max_vage     =  <%= GAME[:PERJURY]['config']['cfg'][:MAX_VILLAGES] %>;

  my $max_crazy    =  <%= GAME[:CRAZY  ]['config']['cfg'][:MAX_VILLAGES] %>;
  my $max_xebec    =  <%= GAME[:XEBEC  ]['config']['cfg'][:MAX_VILLAGES] %>;
  my $max_cafe     =  <%= GAME[:CABALA ]['config']['cfg'][:MAX_VILLAGES] %>;

  my $max_cabala   =  <%= GAME[:CABALA_OLD ]['config']['cfg'][:MAX_VILLAGES] %>;
  my $max_pan      =  <%= GAME[:PAN    ]['config']['cfg'][:MAX_VILLAGES] %>;
  my $max_all      = ( $max_wolf )
                   + ( $max_allstar + $max_jksy   )
                   + ( $max_perjury + $max_vage   + $max_crazy + $max_xebec )
                   + ( $max_cafe    + $max_cabala )
                   ;

  my $choice_lobby    = (   'LOBBY' eq $cfg->{'RULE'})?("choice"):("no_choice");
  my $choice_wolf     = (    'WOLF' eq $cfg->{'RULE'})?("choice"):("no_choice");
  my $choice_rp       = (      'RP' eq $cfg->{'RULE'})?("choice"):("no_choice");
  my $choice_pretense = ('PRETENSE' eq $cfg->{'RULE'})?("choice"):("no_choice");
  my $choice_braid    = (   'BRAID' eq $cfg->{'RULE'})?("choice"):("no_choice");
  my $choice_allstar  = ( 'ALLSTAR' eq $cfg->{'RULE'})?("choice"):("no_choice");
  my $choice_cabala   = (  'CABALA' eq $cfg->{'RULE'})?("choice"):("no_choice");

  my $css_select = '<a href="sow.cgi?css=ririnra">漆黒</a>｜<a href="sow.cgi?css=cinema800">煉瓦</a> <a href="sow.cgi?css=cinema480">480</a>｜<a href="sow.cgi?css=night800">月夜</a> <a href="sow.cgi?css=night480">480</a>｜<a href="sow.cgi?css=star800">蒼穹</a> <a href="sow.cgi?css=star480">480</a>｜<a href="sow.cgi?css=wa800">和の国</a> <a href="sow.cgi?css=wa480">480</a>｜<a href="sow.cgi?ua=mb">携帯</a>';
  if( 'PAN' eq $cfg->{'RULE'} ){
    $css_select = '<a href="sow.cgi">標準</a> <a href="sow.cgi?css=sow800">新</a> <a href="sow.cgi?css=sow480">iPhone</a>｜<a href="sow.cgi?css=junawide">審問</a> <a href="sow.cgi?css=juna800">新</a> <a href="sow.cgi?css=juna480">iPhone</a>｜<a href="sow.cgi?ua=mb">携帯</a>';
  }
  print <<"_HTML_";
<a href="http://melon-cirrus.sakura.ne.jp/wiki/">人狼物語専用wiki</a>
｜
<a href="http://melon-cirrus.sakura.ne.jp/wiki/?%A5%B5%A1%BC%A5%D0%A1%BC%A5%EA%A5%B9%A5%C8">人狼物語Server一覧</a>（melonkoさん管理）
<div class="choice">

<table class="board">
<tr>
<th colspan=4>総合トップページはこちら <a href="http://giji.sytes.net?$topcss"><strong>人狼議事</strong></a> 合計$max_all村を上限としています
<td rowspan=2 class="no_choice link"><a href="<%= GAME[:PAN]['config']['cfg'][:URL_SW] %>/sow.cgi">似顔絵<br>人狼<br>　</a>
<tr class="link">
<td class="$choice_lobby">   ロビー<br>　
<td class="$choice_cabala">  陰謀<br>　
<td class="$choice_allstar"> 大乱闘<br>　
<td class="$choice_braid">   ＲＰ　<br>:Braid
<tr>
<td class="$choice_lobby" style="text-align:left;">
  <a href="http://giji.sytes.net/LOBBY/stories">終</a>:<a href="http://crazy-crazy.sakura.ne.jp/giji_lobby/lobby/sow.cgi?$topcss">lobby</a><br>
  <a href="http://giji.sytes.net/OFFPARTY/stories">終:offparty</a><br>
  <br>
  <br>
  <br>
<td class="$choice_cabala" style="text-align:left;">
  <a href="http://giji.sytes.net/CABALA/stories">終</a>:$max_cafe村:<a href="<%= GAME[:CABALA]['config']['cfg'][:URL_SW] %>/sow.cgi?$topcss">cafe</a><br>
　<br>
　<br>
　<br>
　<br>
<td class="$choice_allstar" style="text-align:left;">
  <a href="http://giji.sytes.net/WOLF/stories">終:wolf</a><br>
  <a href="http://giji.sytes.net/ULTIMATE/stories">終:ultimate</a><br>
  <a href="http://giji.sytes.net/ALLSTAR/stories">終</a>:$max_jksy村:<a href="<%= GAME[:ALLSTAR]['config']['cfg'][:URL_SW] %>/sow.cgi?$topcss">allstar</a><br>
　<br>
　<br>
<td class="$choice_braid" style="text-align:left;">
  <a href="http://giji.sytes.net/RP/stories">終:role-play</a><br>
  <a href="http://giji.sytes.net/PRETENSE/stories">終:RP-advance</a><br>
  <a href="http://giji.sytes.net/PERJURY/stories">終</a>:$max_vage村:<a href="<%= GAME[:PERJURY]['config']['cfg'][:URL_SW] %>/sow.cgi?$topcss">perjury</a><br>
  <a href="http://giji.sytes.net/PERJURY/stories">終</a>:$max_xebec村:<a href="<%= GAME[:XEBEC]['config']['cfg'][:URL_SW] %>/sow.cgi?$topcss">xebec</a><br>
  <a href="http://giji.sytes.net/PERJURY/stories">終</a>:$max_crazy村:<a href="<%= GAME[:CRAZY]['config']['cfg'][:URL_SW] %>/sow.cgi?$topcss">crazy</a><br>
<td class="no_choice">:$max_pan村:
  <br>
  <br>
  <br>
  <br>
</table>
<p style="text-align:right; font-size: 100%;">
$css_select
</p>
</div>
_HTML_
}

sub OutHTMLStateInfo {
  my $sow = shift;
  my $cfg   = $sow->{'cfg'};
  my $zipfile = 'https://github.com/7korobi/sow-giji';
  my $license = 'https://github.com/7korobi/sow-giji/blob/master/cabala/license.txt';

  print <<"_HTML_";
<p class="paragraph">
_HTML_

  if( 'WOLF' eq $cfg->{'RULE'} ){
    print <<"_HTML_";
こちらのページは<span style="color:#FFF">自陣営勝利を目指し、議論をし、最善を尽くす村</span>用に調整しています。<br>
以下の点で他州と相違があるので、御注意ください。
<ul>
<li><a href="sow.cgi?cmd=rule#mind">参加者の心構\え</a>。
<li><a href="http://crazy-crazy.sakura.ne.jp/giji/?(List)SayCnt">発言ptの量</a>。
</ul>
</p>
_HTML_
  }

  if( 'BRAID--' eq $cfg->{'RULE'} ){
    print <<"_HTML_";
こちらのページは<span style="color:#FFF">（陣営勝利を求めない）完全RP村、勝利追求を含むRP村</span>用に調整してあるよ。村枠ははやいものがち！<br>
以下がおおざっぱな、他州との相違点なんだ。
<ul style="font-size: smaller;">
<li><a href="sow.cgi?cmd=rule#mind">参加者の心構\え</a>。ガチとは違うのだよ。ガチとは。
<li>発言ptは無制限です。</a>
<li>村の説明は4000字まで記述\できます。
<li>他、細かい調整が入っています。<a href="http://crazy-crazy.sakura.ne.jp/giji/">仕様変更</a>を参考にしましょう。
<li><a href="$zipfile">最新のスナップショット</a>はこちら。ライセンスは<a href="$license">修正済みBSDライセンス</a>となっています。永遠にバグ取り中。
</ul>
</p>
_HTML_
  }
  if( 'BRAID' eq $cfg->{'RULE'} ){
    print <<"_HTML_";
こちらのページは<span style="color:#FFF">（陣営勝利を求めない）完全RP村、勝利追求を含むRP村</span>用に調整してあるよ。<a href="http://jsfun525.gamedb.info/wiki/?%B4%EB%B2%E8%C2%BC%CD%BD%C4%EA%C9%BD">企画村予\定\表\</a>を参考に、うまく調整して使って欲しい。<br>
以下がおおざっぱな、他州との相違点なんだ。
<ul style="font-size: smaller;">
<li><a href="sow.cgi?cmd=rule#mind">参加者の心構\え</a>。ガチとは違うのだよ。ガチとは。
<li><a href="http://crazy-crazy.sakura.ne.jp/giji/?(List)SayCnt">発言ptの量</a>。
<li>村の説明は4000字まで記述\できます。
<li>他、細かい調整が入っています。<a href="http://crazy-crazy.sakura.ne.jp/giji/">仕様変更</a>を参考にしましょう。
<li><a href="$zipfile">最新のスナップショット</a>はこちら。ライセンスは<a href="$license">修正済みBSDライセンス</a>となっています。永遠にバグ取り中。
</ul>
</p>
_HTML_
  }

  if( 'ALLSTAR' eq $cfg->{'RULE'} ){
    print <<"_HTML_";
このページは<span style="color:#FFF">議論やＲＰを楽しみ、自陣営勝利を目指し、不慮の事態に寛容な村</span>用に調整してあるよ。「大乱闘」の後継なんだ。<br$net>参加する村が自陣営勝利を目指すのかどうか、村ごとの情報欄を良く読んで確認してね。<br>
以下がおおざっぱな、他州との相違点なんだ。
大きな違いは狂人の勝利条件だが、多くの編成では同じ意味になるよ。
<ul style="font-size: smaller;">
<li><a href="sow.cgi?cmd=rule#mind">参加者の心構\え</a>。
<li><a href="http://crazy-crazy.sakura.ne.jp/giji/?(List)SayCnt">発言ptの量</a>。
<li>他、細かい調整が入っています。<a href="http://crazy-crazy.sakura.ne.jp/giji/">仕様変更</a>を参考にしましょう。
<li><a href="$zipfile">最新のスナップショット</a>はこちら。ライセンスは<a href="$license">修正済みBSDライセンス</a>となっています。永遠にバグ取り中。
</ul>
</p>
_HTML_
  }


  if( 'CABALA' eq $cfg->{'RULE'} ){
    print <<"_HTML_";
このページは<span style="color:#FFF">陰謀を弄び、他人を陥れ、濡れ手に粟を求める村</span>用に調整してある。<br>
作ったばかりの州なので、意図しない動作をするかもね。それでも泣いたり困ったりしない、逞しい大人だけがハカリゴトを楽しめる。<br>
<ul style="font-size: smaller;">
<li><a href="sow.cgi?cmd=rule#mind">参加者の心構\え</a>。
<li><a href="http://crazy-crazy.sakura.ne.jp/giji/?(List)SayCnt">発言ptの量</a>。
<li>他、細かい調整が入っています。<a href="http://crazy-crazy.sakura.ne.jp/giji/">仕様変更</a>を参考にしましょう。
<li><a href="$zipfile">最新のスナップショット</a>はこちら。ライセンスは<a href="$license">修正済みBSDライセンス</a>となっています。永遠にバグ取り中。
</ul>
</p>
_HTML_
  }


  if( 'PAN' eq $cfg->{'RULE'} ){
    print <<"_HTML_";
<h2>アルティメット人狼、始動！？</h2>
まだまだ、バグは貴方の知らないあんなところに潜んでいるかもしれない。バグっても泣かない。<br>
<ul style="font-size: smaller;">
<li><a href="$zipfile">最新のスナップショット</a>はこちら。<a href="../wolf/resource.zip">css、js</a>はこちら。ライセンスは<a href="$license">修正済みBSDライセンス</a>となっています。永遠にバグ取り中。
</ul>
_HTML_
  }

}

1;
